# 掼蛋普通理牌

- 作者：AFAN
- 时间：2024-08-22
- 微信：afan-life
- 邮箱：fcncassandra@gmail.com
- B站/知识星球：AFAN的金融科技
- 协议：CC-BY 4.0 引用请注明来源：https://github.com/AFAN-LIFE/awesome-guandan

## 洗牌

In [163]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [164]:
suits = ['♠', '♥', '♣', '♦']  # 黑桃, 红心, 梅花, 方片
ranks = ['2', '3', '4', '5', '6', '7', '8', '9', '10', 'J', 'Q', 'K', 'A']

In [165]:
# 创建一副牌
deck = [f'{rank}{suit}' for suit in suits for rank in ranks]
deck += ['BJ', 'RJ']  # 加入两张王
two_decks = deck + deck

In [166]:
# 洗牌
random.shuffle(two_decks)
# 发牌，每人27张（掼蛋通常4人）
def deal(deck):
    return [deck[i::4] for i in range(4)]
hands = deal(two_decks)

## 矩阵转换

In [167]:
def trans_hand_into_df(hand):
    df = pd.DataFrame(columns=['♠', '♥', '♣', '♦', 'sum'], data=0,
             index=['2', '3', '4', '5', '6', '7', '8', '9', '10', 'J', 'Q', 'K', 'A', 'BJ', 'RJ'])
    for i in hand:
        if i == 'BJ':
            df.loc['BJ', 'sum'] += 1
        elif i == 'RJ':
            df.loc['RJ', 'sum'] += 1
        else:
            df.loc[i[:-1], i[-1]] += 1
    df['sum'] += df.loc[:, ['♠', '♥', '♣', '♦']].sum(axis=1)
    return df

In [168]:
hands[0]

['4♠',
 '6♣',
 'A♣',
 '2♠',
 '6♦',
 '4♣',
 '8♠',
 '7♣',
 'K♥',
 'A♦',
 '3♥',
 '4♥',
 '5♥',
 '7♠',
 '7♣',
 '2♣',
 '5♥',
 '8♦',
 '10♥',
 'A♥',
 'A♣',
 '5♠',
 'J♥',
 '3♠',
 '10♣',
 'BJ',
 'BJ']

In [169]:
df = trans_hand_into_df(hands[0])

In [170]:
df

    ♠  ♥  ♣  ♦  sum
2   1  0  1  0    2
3   1  1  0  0    2
4   1  1  1  0    3
5   1  2  0  0    3
6   0  0  1  1    2
7   1  0  2  0    3
8   1  0  0  1    2
9   0  0  0  0    0
10  0  1  1  0    2
J   0  1  0  0    1
Q   0  0  0  0    0
K   0  1  0  0    1
A   0  1  2  1    4
BJ  0  0  0  0    2
RJ  0  0  0  0    0

## 牌型可能

In [171]:
# 单张
one_kind_list = df[df['sum'] >= 1].index.tolist()

In [172]:
# 对子
two_kinds_list = df[df['sum'] >= 2].index.tolist()

In [173]:
# 三张
three_kinds_list = df[df['sum'] >= 3].index.tolist()

In [174]:
# 四张以上的炸弹
bomb_list = df[df['sum'] >= 4].index.tolist()

In [175]:
# 三带二
fullhouse_list =  [(i*3+j*2) for i in three_kinds_list for j in two_kinds_list if i != j]

In [176]:
# 五张顺子
sequence_df = df.copy()
sequence_df = sequence_df.loc['2':'A']
sequence_df = pd.concat([sequence_df.loc[['A']], sequence_df], axis=0)
straight_list =  [''.join(sequence_df['sum'][i-4:i+1].index.tolist()) 
                  for i in range(4, len(sequence_df['sum'])) 
                  if (sequence_df['sum'][i-4:i+1]>0).sum()==5]

In [189]:
# 钢板
plate_list =  [''.join((sequence_df['sum'][i-1:i+1].index*3).tolist()) 
                  for i in range(1, len(sequence_df['sum'])) 
                  if (sequence_df['sum'][i-1:i+1]>2).sum()==2]

In [190]:
# 三连对
tube_list =  [''.join((sequence_df['sum'][i-2:i+1].index*2).tolist()) 
                  for i in range(2, len(sequence_df['sum'])) 
                  if (sequence_df['sum'][i-2:i+1]>1).sum()==3]

In [191]:
# 同花顺
flush_list =  [[f'{j}'.join(sequence_df[j][i-4:i+1].index.tolist()) + j 
                  for i in range(4, len(sequence_df['sum'])) 
                  if (sequence_df[j][i-4:i+1]>0).sum()==5] for j in suits ]

In [192]:
one_kind_list

['2', '3', '4', '5', '6', '7', '8', '10', 'J', 'K', 'A', 'BJ']

In [193]:
two_kinds_list

['2', '3', '4', '5', '6', '7', '8', '10', 'A', 'BJ']

In [194]:
three_kinds_list

['4', '5', '7', 'A']

In [195]:
bomb_list

['A']

In [196]:
fullhouse_list

['44422',
 '44433',
 '44455',
 '44466',
 '44477',
 '44488',
 '4441010',
 '444AA',
 '444BJBJ',
 '55522',
 '55533',
 '55544',
 '55566',
 '55577',
 '55588',
 '5551010',
 '555AA',
 '555BJBJ',
 '77722',
 '77733',
 '77744',
 '77755',
 '77766',
 '77788',
 '7771010',
 '777AA',
 '777BJBJ',
 'AAA22',
 'AAA33',
 'AAA44',
 'AAA55',
 'AAA66',
 'AAA77',
 'AAA88',
 'AAA1010',
 'AAABJBJ']

In [197]:
straight_list

['A2345', '23456', '34567', '45678']

In [198]:
plate_list

['444555']

In [199]:
tube_list

['AA2233', '223344', '334455', '445566', '556677', '667788']

In [200]:
flush_list

[[], [], [], []]

## 函数封装

In [8]:
import random
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
suits = ['♠', '♥', '♣', '♦']  # 黑桃, 红心, 梅花, 方片
ranks = ['2', '3', '4', '5', '6', '7', '8', '9', '10', 'J', 'Q', 'K', 'A']

In [3]:
# 创建一副牌
deck = [f'{rank}{suit}' for suit in suits for rank in ranks]
deck += ['BJ', 'RJ']  # 加入两张王
two_decks = deck + deck

In [4]:
# 洗牌发牌，每人27张（掼蛋通常4人）
def deal(deck, seed):
    random.seed(seed)
    random.shuffle(two_decks)
    return [deck[i::4] for i in range(4)]

In [5]:
def trans_hand_into_df(hand):
    df = pd.DataFrame(columns=['♠', '♥', '♣', '♦', 'sum'], data=0,
             index=['2', '3', '4', '5', '6', '7', '8', '9', '10', 'J', 'Q', 'K', 'A', 'BJ', 'RJ'])
    for i in hand:
        if i == 'BJ':
            df.loc['BJ', 'sum'] += 1
        elif i == 'RJ':
            df.loc['RJ', 'sum'] += 1
        else:
            df.loc[i[:-1], i[-1]] += 1
    df['sum'] += df.loc[:, ['♠', '♥', '♣', '♦']].sum(axis=1)
    return df

In [6]:
def generate_combinations(df):
    # 单张
    one_kind_list = df[df['sum'] >= 1].index.tolist() 
    # 对子
    two_kinds_list = [i*2 for i in df[df['sum'] >= 2].index.tolist()]
    # 三张
    three_kinds_list = [i*3 for i in df[df['sum'] >= 3].index.tolist()]
    # 四张以上的炸弹
    bomb_list = [i*j for i,j in zip(df[df['sum'] >= 4].index.tolist(), 
                                    df[df['sum'] >= 4]['sum'].tolist())]
    # 三带二
    fullhouse_list =  [(i+j) for i in three_kinds_list for j in two_kinds_list if i[0] != j[0]]
    # 五张顺子
    sequence_df = df.copy()
    sequence_df = sequence_df.loc['2':'A']
    sequence_df = pd.concat([sequence_df.loc[['A']], sequence_df], axis=0)
    straight_list =  [''.join(sequence_df['sum'][i-4:i+1].index.tolist()) 
                      for i in range(4, len(sequence_df['sum'])) 
                      if (sequence_df['sum'][i-4:i+1]>0).sum()==5]
    # 钢板
    plate_list =  [''.join((sequence_df['sum'][i-1:i+1].index*3).tolist()) 
                      for i in range(1, len(sequence_df['sum'])) 
                      if (sequence_df['sum'][i-1:i+1]>2).sum()==2]
    # 三连对
    tube_list =  [''.join((sequence_df['sum'][i-2:i+1].index*2).tolist()) 
                      for i in range(2, len(sequence_df['sum'])) 
                      if (sequence_df['sum'][i-2:i+1]>1).sum()==3]
    # 同花顺
    flush_list =  [[f'{j}'.join(sequence_df[j][i-4:i+1].index.tolist()) + j 
                      for i in range(4, len(sequence_df['sum'])) 
                      if (sequence_df[j][i-4:i+1]>0).sum()==5] for j in suits ]
    return one_kind_list, two_kinds_list, three_kinds_list, bomb_list,\
           fullhouse_list, straight_list, plate_list, tube_list, flush_list

In [18]:
hand = trans_hand_into_df(deal(two_decks, 42)[0])

In [20]:
hand

    ♠  ♥  ♣  ♦  sum
2   0  1  0  0    1
3   0  0  1  1    2
4   0  0  0  1    1
5   0  1  1  0    2
6   0  2  0  0    2
7   1  1  1  0    3
8   1  0  1  0    2
9   1  0  1  0    2
10  0  1  1  1    3
J   0  0  1  1    2
Q   0  0  0  1    1
K   1  2  0  0    3
A   1  1  0  0    2
BJ  0  0  0  0    1
RJ  0  0  0  0    0

In [21]:
generate_combinations(hand)

(['2', '3', '4', '5', '6', '7', '8', '9', '10', 'J', 'Q', 'K', 'A', 'BJ'],
 ['33', '55', '66', '77', '88', '99', '1010', 'JJ', 'KK', 'AA'],
 ['777', '101010', 'KKK'],
 [],
 ['77733',
  '77755',
  '77766',
  '77788',
  '77799',
  '7771010',
  '777JJ',
  '777KK',
  '777AA',
  '10101033',
  '10101055',
  '10101066',
  '10101077',
  '10101088',
  '10101099',
  '101010JJ',
  '101010KK',
  '101010AA',
  'KKK33',
  'KKK55',
  'KKK66',
  'KKK77',
  'KKK88',
  'KKK99',
  'KKK1010',
  'KKKJJ',
  'KKKAA'],
 ['A2345',
  '23456',
  '34567',
  '45678',
  '56789',
  '678910',
  '78910J',
  '8910JQ',
  '910JQK',
  '10JQKA'],
 [],
 ['556677', '667788', '778899', '88991010', '991010JJ'],
 [[], [], ['7♣8♣9♣10♣J♣'], []])